body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
}
.allt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.FormBox{
    background-color: #e5e5e5;
    width: 100%;
    padding: 5%;
    border: 1px solid #d5d5d5;
}
input{
    margin-top: 10%;
}
input[type=text]{
    padding: 2%;
    width: 60%;
    border: none;
    background-color: #d9d9d9;
}
.file{
    background-color: white;
}
.OutputBox{
    display: flex;
}
.ImageBox{
    width: 200px;
}
img{
    width: 100%;
}
.textBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}